<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title> Local Market </title>
</head>
<body>
    <header>
        <nav>
            <ul class="navLinks">
                <li><a href="/"><h1>HomePage</h1></a></li>
                <li><a href="/addPage"><h1>Add Product</h1></a></li>
                <li><a href="/listOfProducts"><h1>List of Products</h1></a></li>
            </ul>
        </nav>
    </header>